*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper {
    width: 100%;
    max-width: 990px;
    background-color: rgb(254, 191, 182);
    margin: 0 auto;
}
#top {
    background: url(img/title.jpg) top left no-repeat;
    max-width: 990px;
}
#menu01 {
    background: url(img/background-motive.jpg);
    max-width: 990px;
}
#menu02 {
    background: url(img/background-motive.jpg);
    max-width: 990px;
}
#menu03 {
    background: url(img/background-motive.jpg);
    max-width: 990px;
}
.menu ul li img {
    display: block;
    float: left;
    width: 33,3%;
}
ul {
    list-style-type: none;
}
#content #menu01 div {
    height: 400px;
}
#content #menu01 h2 {
    position: absolute;
    top: 1220px;
    line-height: 50px;
    right: 340px;
    font-size: 40px;
    color: #8b6750;
    font-family: UDDigiKyokashoN-B;
    src: url(font/UDDigiKyokashoN-B.ttc)
}
#content #menu01 p {
    position: absolute;
    top: 1340px;
    line-height: 45px ;
    right: 350px;
    font-size: 30px;
    color: #8b6750;
    font-family: UDDigiKyokashoN-B;
    src: url(font/UDDigiKyokashoN-B.ttc)
}
#content #menu02 div {
    height: 400px;
}
#content #menu02 h2 {
    position: absolute;
    top: 1850px;
    right: 400px;
    line-height: 50px;
    font-size: 40px;
    color: #8b6750;
    font-family: UDDigiKyokashoN-B;
    src: url(font/UDDigiKyokashoN-B.ttc)
}
#content #menu02 p {
    position: absolute;
    top: 1970px;
    line-height: 45px ;
    right: 340px;
    font-size: 30px;
    color: #8b6750;
    font-family: UDDigiKyokashoN-B;
    src: url(font/UDDigiKyokashoN-B.ttc)
}
#content #menu03 div {
    height: 400px;
}
#content #menu03 h2 {
    position: absolute;
    top: 2480px;
    right: 325px;
    line-height: 50px;
    font-size: 40px;
    color: #8b6750;
    font-family: UDDigiKyokashoN-B;
    src: url(font/UDDigiKyokashoN-B.ttc)
}
#content #menu03 p {
    position: absolute;
    top: 2600px;
    line-height: 45px ;
    right: 340px;
    font-size: 30px;
    color: #8b6750;
    font-family: UDDigiKyokashoN-B;
    src: url(font/UDDigiKyokashoN-B.ttc)
}