*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper {
    width: 100%;
    max-width: 990px;
    background-color: rgb(254, 191, 182);
    margin: 0 auto;
}
#top {
    background: url(img/title.jpg) top left no-repeat;
    max-width: 990px;
}
#menu01 {
    background: url(img/background-motive.jpg);
    max-width: 990px;
}
#menu02 {
    background: url(img/background-motive.jpg);
    max-width: 990px;
}
#menu03 {
    background: url(img/background-motive.jpg);
    max-width: 990px;
}
.menu ul li img {
    display: block;
    float: left;
    width: 33,3%;
}
ul {
    list-style-type: none;
}
#content div {
    height: 400px;
}
#content #menu01 h2 {
    position: absolute;
    top: 1240px;
    right: 150px;
    font-size: 40px;
    color: #8b6750;
    font-family: UDDigiKyokashoN-B;
    src: url(font/UDDigiKyokashoN-B.ttc)
}