*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper {
    width: 100%;
    max-width: 990px;
    background-color: rgb(254, 191, 182);
    margin: 0 auto;
}
#top {
    background: url(img/title.jpg) top left no-repeat;
    max-width: 990px;
}
#menu01 {
    background: url(img/background-motive.jpg);
    max-width: 990px;
}
#menu02 {
    background: url(img/background-motive.jpg);
    max-width: 990px;
}
#menu03 {
    background: url(img/background-motive.jpg);
    max-width: 990px;
}
.menu ul li img {
    display: block;
    float: left;
    width: 33,3%;
}
ul {
    list-style-type: none;
}
#content #menu01 div {
    height: 400px;
}
#content #menu01 h2 {
    position: absolute;
    top: 1220px;
    line-height: 50px;
    right: 340px;
    font-size: 40px;
    color: #8b6750;
    font-family: UDDigiKyokashoN-B;
    src: url(font/UDDigiKyokashoN-B.ttc)
}
#content #menu01 .description-menu01 {
    position: absolute;
    top: 1340px;
    line-height: 45px ;
    right: 350px;
    font-size: 30px;
    color: #8b6750;
    font-family: UDDigiKyokashoN-B;
    src: url(font/UDDigiKyokashoN-B.ttc)
}
#content #menu01 .note-menu01 {
    position: absolute;
    top: 1490px;
    line-height: 30px;
    right: 370px;
    font-size: 20px;
    -webkit-text-stroke: 0.3px #fff;
    color: #8b6750;
    font-family: UDDigiKyokashoN-B;
    src: url(font/UDDigiKyokashoN-B.ttc);
}
#content #menu02 div {
    height: 400px;
}
#content #menu02 h2 {
    position: absolute;
    top: 1850px;
    right: 400px;
    line-height: 50px;
    font-size: 40px;
    color: #8b6750;
    font-family: UDDigiKyokashoN-B;
    src: url(font/UDDigiKyokashoN-B.ttc)
}
#content #menu02 .description-menu02 {
    position: absolute;
    top: 1970px;
    line-height: 45px ;
    right: 340px;
    font-size: 30px;
    color: #8b6750;
    font-family: UDDigiKyokashoN-B;
    src: url(font/UDDigiKyokashoN-B.ttc)
}
#content #menu02 .note-menu02 {
    position: absolute;
    top: 2120px;
    line-height: 30px;
    right: 360px;
    font-size: 20px;
    -webkit-text-stroke: 0.3px #fff;
    color: #8b6750;
    font-family: UDDigiKyokashoN-B;
    src: url(font/UDDigiKyokashoN-B.ttc);
}
#content #menu03 div {
    height: 400px;
}
#content #menu03 h2 {
    position: absolute;
    top: 2480px;
    right: 325px;
    line-height: 50px;
    font-size: 40px;
    color: #8b6750;
    font-family: UDDigiKyokashoN-B;
    src: url(font/UDDigiKyokashoN-B.ttc)
}
#content #menu03 .description-menu03 {
    position: absolute;
    top: 2600px;
    line-height: 45px ;
    right: 340px;
    font-size: 30px;
    color: #8b6750;
    font-family: UDDigiKyokashoN-B;
    src: url(font/UDDigiKyokashoN-B.ttc)
}
#content #menu03 .note-menu03 {
    position: absolute;
    top: 2750px;
    line-height: 30px;
    right: 360px;
    font-size: 20px;
    -webkit-text-stroke: 0.3px #fff;
    color: #8b6750;
    font-family: UDDigiKyokashoN-B;
    src: url(font/UDDigiKyokashoN-B.ttc);
}
#bottom #coupon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#coupon #background-coupon {
    position: absolute;
}
#coupon .coupon {
    position: absolute;
    top: 2870px;
    right: 235px;
}
#bottom #access h2 {
    position: absolute;
    top: 3140px;
    line-height: 45px ;
    right: 600px;
    font-size: 60px;
    color: #8b6750;
    font-family: UDDigiKyokashoN-B;
    src: url(font/UDDigiKyokashoN-B.ttc);
}
#bottom #access .line-one {
    position: absolute;
    top: 3200px;
    line-height: 50px ;
    right: 500px;
    font-size: 40px;
    color: #8b6750;
    font-family: UDDigiKyokashoN-B;
    src: url(font/UDDigiKyokashoN-B.ttc);
}
#bottom #access .line-two {
    position: absolute;
    top: 3250px;
    line-height: 50px ;
    right: 530px;
    font-size: 40px;
    color: #8b6750;
    font-family: UDDigiKyokashoN-B;
    src: url(font/UDDigiKyokashoN-B.ttc);
}
#bottom #access .note-lineone {
    position: absolute;
    top: 3320px;
    line-height: 50px ;
    right: 570px;
    font-size: 20px;
    color: #8b6750;
    font-family: UDDigiKyokashoN-B;
    src: url(font/UDDigiKyokashoN-B.ttc);
}
#bottom #access .note-linetwo {
    position: absolute;
    top: 3350px;
    line-height: 50px ;
    right: 520px;
    font-size: 20px;
    color: #8b6750;
    font-family: UDDigiKyokashoN-B;
    src: url(font/UDDigiKyokashoN-B.ttc);
}